:root {
    /* Colors */
    --primary: #ff5a5f;
    --primary-light: #fef2f2;

    --text-main: #1e293b;
    --text-sub: #64748b;

    --bg-main: #f8fafc;
    --card-bg: #ffffff;

    /* Radius */
    --radius-lg: 20px;
    --radius-md: 12px;

    /* Shadow */
    --shadow-sm: 0 2px 8px rgba(0,0,0,0.05);
    --shadow-md: 0 8px 20px rgba(0,0,0,0.08);
    --shadow-lg: 0 12px 30px rgba(0,0,0,0.12);
}